<div class="container-fluid nav-section border-0">
    <nav class="navbar navbar-light">
        <div class="navbar-nav flex-column">
            <a href="#pigraHome" class="nav-item nav-link"> <span><img src="~/Icon/home.png" width="20" height="20" /></span>Anasayfa</a>
            <a href="#pigraAbout" class="nav-item nav-link"> <span><img src="~/Icon/about.png" width="20" height="20" /></span>Hakkımızda</a>
            <a href="#pigraEducation" class="nav-item nav-link"> <span><img src="~/Icon/education.png" width="20" height="20" /></span>Eğitim</a>
            <a href="#pigraIntern" class="nav-item nav-link"> <span><img src="~/Icon/intern.png" width="20" height="20" /></span>Staj</a>
            <a href="#pigraExperience" class="nav-item nav-link"> <span><img src="~/Icon/experience.png" width="20" height="20" /></span>Deneyim</a>
            <a href="#pigraSkill" class="nav-item nav-link"> <span><img src="~/Icon/skill.png" width="20" height="20" /></span>Yetneklerim</a>
            <a href="#pigraService" class="nav-item nav-link"> <span><img src="~/Icon/service.png" width="20" height="20" /></span>Hizmetler</a>
            <a href="#pigraPortfolyo" class="nav-item nav-link"> <span><img src="~/Icon/portfolio.png" width="20" height="20" /></span>Portfolyo</a>
            <a href="#pigraMessage" class="nav-item nav-link"> <span><img src="~/Icon/message.png" width="20" height="20" /></span>Mesajlar</a>
            <a href="#pigraContact" class="nav-item nav-link"> <span><img src="~/Icon/contact.png" width="20" height="20" /></span>İletişim</a>
            <a href="#pigraMap" class="nav-item nav-link"> <span><img src="~/Icon/map.png" width="20" height="20" /></span>Harita</a>
        </div>
    </nav>
</div>
